{% extends 'base.html.twig' %}

{% block title %}New Tour{% endblock %}

{% block body %}
    <h1>Create new Tour</h1>

    {{ include('tour/_form.html.twig') }}

    <a href="{{ path('app_tour_index') }}">back to list</a>
{% endblock %}
